<div class="row">
<div class="row navbar navbar-default contact-header">
  <div class="col-xs-12">
    <div class="list-group-item-heading">Contact
    <button class="btn btn-success pull-right">New Contact</button>
  </div>
  </div>
  <hr>
  <div class="col-xs-12 pull-right">
    <a href="#" class="list-group-item clearfix"
    *ngFor = "let contact of contact">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ contact.name}}</h4>
        <p class="list-group-item-text"> {{contact.description}}</p>
      </div>
      <span class="pull-right">
        <img
          [src]="contact.imageUrl"
          alt="{{contact.name}}"
          class="img-responsive"
          style="max-height: 80px;">
      </span>
    </a>
  </div>
</div>
</div>


